.left-section {
  position: sticky;
  top: 0;
  height: 100vh; /* Adjust the height as needed */
  /*overflow-y: visible; /* Enable vertical scrolling if content exceeds the height */
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Initially hidden */
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.scroll-to-top-btn:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
