
<div class="container mx-auto">
    <div class="my-8">      
  
      <!-- Text Lesson Section -->
      <div id="Editorial Writing" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Editorial Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          -	The <strong>‘soul of the paper.’</strong>  It is an article that presents the newspaper’s opinion on an issue. 
          It reflects the majority vote of the editorial board, the governing body of the newspaper made up of editors and business managers. 
          In short, an editorial is an opinionated news story. 
        </p>
      </div>

      <!-- Text Lesson Section -->
      <div id="•	Types of Editorial Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Types of Editorial Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          The different types of an editorial article are classified based on the purpose they serve. It can be any or a combination of the following: 
        </p>

        <h1 class="text-xl font-bold mb-4">Editorial of Explanation </h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4 pl-4">
          -	It helps the readers understand how the editors of a newspaper cover a sensitive or controversial issue.  
        </p>

        <h1 class="text-xl font-bold mb-4">Editorial of Criticism </h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4 pl-4">
          -	The Immediate purpose of these editorial is to let the reader see the problem, not the solution.  
          However, while constructively criticizing specific actions or cases, solutions are provided as well. 
        </p>

        <h1 class="text-xl font-bold mb-4">Editorial of Persuasion </h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4 pl-4">
          -	Contrary to criticizing, this types of editorial aims to immediately see the solution in an issue not the problem itself. 
          The readers will also be encouraged to take specific positive action. Political endorsements are good examples of editorials of persuasion.  
        </p>

        <h1 class="text-xl font-bold mb-4">Editorial of Praise</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4 pl-4">
          -	These type of editorials commend people and organizations for something done well. Among the four this is the most uncommon type to find. 
        </p>

        <h1 class="text-xl font-bold mb-4">Editorial of Entertainment</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4 pl-4">
          -	It acts as a commentary that offers a unique and informed perspective on various aspects of the entertainment world. 
        </p>
      </div>

      <div id="•	Parts of Editorial" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Parts of Editorial</h1>
            <p class="text-lg text-gray-800 leading-relaxed m-4">
                The <strong>introduction</strong>  it is expected to have at least 2 paragraphs the first paragraph must contain a description of the chosen issue
            </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4 pl-4">
              <ul class="text-lg text-gray-800 leading-relaxed">
                <li class="m-2">•	The first Paragraph, it can also give the background of the topic by showing facts, 
                  statistics, or figures, or anything that may give an objective interpretation of the topic.</li>
                <li class="m-2">•	In Second paragraph, of the introduction, must present reasons why the readers must be informed about the issue. </li>
              </ul>
            </div>
            

            <p class="text-lg text-gray-800 leading-relaxed m-4 pl-4">
              The <strong>body</strong>  has no limit in the number of paragraphs a writer may include but, there should be at least three: 
            </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <ul class="text-lg text-gray-800 leading-relaxed">
                <li class="m-2">•	The First paragraph, objectively present arguments of the opposing side,
                  the details must be complete and unbiased this help the writer establish that his point of view is better through reputation.</li>
                <li class="m-2">•	In second, third and succeeding paragraphs, must present the writer’s arguments supporting his or her thesis statement or standard. 
                  Each argument should support by an evidence sufficient to prove the point.  </li>
              </ul>
            </div>
            

          <p class="text-lg text-gray-800 leading-relaxed m-4">
            The third and last paragraph is <strong>conclusion</strong>  it contains two parts which is the realistic solutions and a concluding punch. 
            The last paragraph should contain an impactful end and it should reflect the thesis statement. 
          </p>
          
      </div>

      <div id="•	Steps to Write Editorial Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Steps to Write Editorial Writing</h1>
        <h1 class="text-xl font-bold mb-4">1.	Choose the right topic.</h1>
        <div>
          <p class="text-lg text-gray-800 leading-relaxed pl-4">
            The topic must:
          </p>
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	recent and complex</li>
            <li class="m-2">•	affects a great number of people</li>
            <li class="m-2">•	controversial and debatable</li>
            <li class="m-2">•	has at least two opposing viewpoints</li>
          </ul>
        </div>
        
        <h1 class="text-xl font-bold mb-4">2.	Collect information.</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	Gather as much information as possible</li>
            <li class="m-2">•	Do an objective report</li>
            <li class="m-2">•	Know the opposing views</li>
            <li class="m-2">•	Quote the actual details from sources</li>
          </ul>
        </div>
        <h1 class="text-xl font-bold mb-4">3.	Write a thesis statement</h1>
        <p class="text-lg text-gray-800 leading-relaxed pl-4 mb-2">
          -	It helps the writer focused on the big idea he needs to address in his article.
        </p>
        <h1 class="text-xl font-bold mb-4">4.	Explain the issue objectively.</h1>
        <h1 class="text-xl font-bold mb-4">5.	Give opposing viewpoint first with its quotations and facts.</h1>
        <h1 class="text-xl font-bold mb-4">6.	Refute the other side and develop your case using facts, details, figures, and quotations.</h1>
        <h1 class="text-xl font-bold mb-4">7.	Concede a point of the opposition</h1>
        <h1 class="text-xl font-bold mb-4">8.	Repeat key phrases to reinforce an idea into the reader’s mind.</h1>
        <h1 class="text-xl font-bold mb-4">9.	Give realistic solution to the problem that goes beyond common knowledge.</h1>
        <h1 class="text-xl font-bold mb-4">10.	Wrap it up in a concluding punch that restates your opening remark.</h1>
        
      </div>

      <div id="•	Structure of Editorial Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Structure of Editorial Writing</h1>
        <h1 class="text-xl font-bold mb-4">I.	Lead with an Objective Explanation of the Issue:</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	Include the five W’s and the H.</li>
            <li class="m-2">•	Pull in facts and quotations from the sources which are relevant.</li>
            <li class="m-2">•	Additional research may be necessary.</li>
          </ul>
        </div>
        <h1 class="text-xl font-bold mb-4">II.	Present your Opposition First:</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	Identify the people who oppose you.</li>
            <li class="m-2">•	Use facts and quotations to state objectively their opinions.</li>
            <li class="m-2">•	Give a strong position of the opposition.</li>
          </ul>
        </div>
        <h1 class="text-xl font-bold mb-4">III.	Directly Refute the Opposition’s Belief:</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	Pull in other facts and quotations from people who support your position.</li>
            <li class="m-2">•	Acknowledge the valid point of the opposition. It will make you appear rational. </li>
          </ul>
        </div>
        <h1 class="text-xl font-bold mb-4">IV.	Give Reasons:</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	In defense of your position, give reasons from strong to strongest order. </li>
            <li class="m-2">•	Use a literary or cultural allusion that lends to your credibility and perceived intelligence. </li>
          </ul>
        </div>
        <h1 class="text-xl font-bold mb-4">V.	Conclude with Some Punch:</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	Give solutions to the problem.</li>
            <li class="m-2">•	A quotation can be effective, especially if from a respected source.</li>
            <li class="m-2">•	A rhetorical question can be an effective concluder as well. </li>
          </ul>
        </div>
      </div>

      <!-- Text Lesson Section -->
      <div id="Editorial Cartoon" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Editorial Cartoon</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          -	It is an illustration containing a commentary that usually relates to current events or personalities. 
          It is a simple graphic presentation of opinion that points out the problem. 
        </p>
      </div>

      <div id="•	Elements of Editorial Cartoons" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Elements of Editorial Cartoons</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">•	Title</li>
            <li class="m-2">•	Captions & Labels</li>
            <li class="m-2">•	Symbols</li>
            <li class="m-2">•	Caricatures/Hyperbole</li>
            <li class="m-2">•	Stereotyping</li>
            <li class="m-2">•	Literary/Historical Reference</li>
            <li class="m-2">•	Point of View</li>
            <li class="m-2">•	Main Idea</li>
          </ul>
        </div>
      </div>

      <div id="•	Steps in Making Editorial Cartoons" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Steps in Making Editorial Cartoons</h1>
        <div>          
          <ul class="text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2">1.	Know the main issue that you wish to draw a cartoon</li>
            <li class="m-2">2.	Illustrate through the aid of effective symbols that fit the general opinion of the editorial staff on the issue.</li>
          </ul>
        </div>
      </div>

      <div id="•	Tips in Editorial Cartoon" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Tips in Editorial Cartoon</h1>
        <div>          
          <ul class="list-none text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Use black ink pen or pencil on white paper.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Employ single stroke or line.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Shading can be employed for emphasis.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Focus on one topic only.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Limit the use of words and labels.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Use universal or common symbols</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Details in the drawing are not necessary</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Keep it simple but the message should be clear and intact.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	When you are drawing person, draw the facial expression and their prominent identity clearly.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	You may apply allusion as a background scene. </li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Present the issue accurately.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Illustrate the idea using three to five things only.</li>
          </ul>
        </div>
      </div>

      

      <!-- Text Lesson Section -->
      <div id="Radio Broadcasting" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Radio Broadcasting</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          -	It is a news that is carried on a radio, television, and the internet. 
          Some universities or colleges campus operates a radio station to provide news, information, and entertainment to the school community. 
        </p>
      </div>

      <div id="•	Tools for Broadcasting" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Tools for Broadcasting</h1>
        <h1 class="text-xl font-bold mb-4">1.	Effective Speaker</h1>
        <p class="text-lg text-gray-800 leading-relaxed pl-4">
          An effective speaker is knowledgeable, smart, has well-modulated and good voice quality. A speaker should also be responsible and an entertainer broadcaster.
        </p>
        <h1 class="text-xl font-bold mb-4">2.	Sound and Efficient Equipment/Functional Facilities</h1>
        <p class="text-lg text-gray-800 leading-relaxed pl-4">
          This includes the following:
        </p>
        <div>          
          <ul class="list-none text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Microphone</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Speaker</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Mixer</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Recorder</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Timer</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Downloaded Application for Music (Virtual DJ)</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Laptop, Printer, Bondpaper, Stapler</li>
          </ul>
        </div>
        <h1 class="text-xl font-bold mb-4">3.	Clean directional policies</h1>
        <h1 class="text-xl font-bold mb-4">4.	Script</h1>
        <p class="text-lg text-gray-800 leading-relaxed pl-4">
          A radio script is a written material, which indicates verbal and non-verbal action that has to go into the program. 
          It tells us what to do and say and when or how. This ensures technical accuracy and the continuity of program, and to maximize airtime. 
        </p>
        <p class="text-lg text-gray-800 leading-relaxed pl-4">
          A Radio Script Outline should have the following:
        </p>
        <div>          
          <ul class="list-none text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Opening Spiel</li>
            <ul class="pl-16">
              <li><span class="inline-block h-4 w-4  mr-2">&#9658;</span>Time Check</li>
              <li><span class="inline-block h-4 w-4  mr-2">&#9658;</span>Station I.D.</li>
              <li><span class="inline-block h-4 w-4  mr-2">&#9658;</span>Station Plug</li>
            </ul>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Intro</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Headlines</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Infomercial</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Details</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Closing Spiel</li>
          </ul>
        </div>
        
      </div>

      <div id="•	Tips on Writing Scripts for your Listeners" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Tips on Writing Scripts for your Listeners</h1>
        <div>          
          <ul class="list-decimal text-lg text-gray-800 leading-relaxed pl-8">
            <li class="m-2">Double or Triple space all the lines and paragraphs.</li>
            <li class="m-2">Use big letter/font especially those spoken lines so the news reader can easily read it.</li>
            <li class="m-2">All instructions and non-spoken lines should be typed in capital letters.</li>
            <li class="m-2">Make your script clean, short, and simple.</li>
            <li class="m-2">Write a page number in your script.</li>
            <li class="m-2">Don not use unfamiliar words.</li>
            <li class="m-2">Attribute the source of your news either at the beginning or at the end of the news. </li>
            <li class="m-2">Avoid using “this, that, the former, the latter”</li>
            <li class="m-2">Use active voice</li>
            <li class="m-2">Round-off figures/numbers</li>
          </ul>
        </div>
      </div>

      <div id="•	Basic Steps in Radio Script Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Basic Steps in Radio Script Writing</h1>
        <div>          
          <ul class="list-decimal text-lg text-gray-800 leading-relaxed pl-8">
            <li class="m-2">Get a good briefing/know your listener</li>
            <li class="m-2">Do research about the topic</li>
            <li class="m-2">Prepare content outline</li>
            <li class="m-2">Write the first draft.</li>
            <li class="m-2">Read it aloud. Time the material</li>
            <li class="m-2">Visualize the script</li>
            <li class="m-2">Review the Script</li>
            <li class="m-2">Revise for style, correct timing, and accuracy</li>
          </ul>
        </div>
      </div>

      <!-- Text Lesson Section -->
      <div id="Photojournalism" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Photojournalism</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          -	It is the communication of news through a series of photographs. This is the documentation of events or people through photographs that tell a story.
          It can fall under all subjects of photography, but the image needs to be news worthy to end up being published. 
          Remember that the mere taking of pictures is photography not photojournalism.
        </p>
      </div>

      <!-- Text Lesson Section -->
      <div class="mb-8">
        <h1 class="text-2xl font-bold mb-4">When selecting pictures for publications you need to remember the following:</h1>
        <div>          
          <ul class="list-decimal text-lg text-gray-800 leading-relaxed pl-8">
            <li class="m-2">Technical Value</li>
            <p class="text-lg text-gray-800 leading-relaxed pl-4">
              -	A picture has a technical value when it’s clear, free from smudges, clear and not blurred.
            </p>
            <li class="m-2">Editorial Value</li>
            <p class="text-lg text-gray-800 leading-relaxed pl-4">
              -	It has editorial Value when it tells a story at a glance, when it shows life happening, moment of truth and significance, meaning it has news value.
            </p>
          </ul>
        </div>
        
      </div>

      <!-- Text Lesson Section -->
      <div id="•	Five Main Functions of Photos/Illustrations" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Five Main Functions of Photos/Illustrations</h1>
        <div>          
          <ul class="list-decimal text-lg text-gray-800 leading-relaxed pl-8">
            <li class="m-2">To attract attention</li>
            <li class="m-2">To illustrate a point in the story</li>
            <li class="m-2">To tell a story itself through the aid of captions</li>
            <li class="m-2">To tell a story in sequence with other illustrations</li>
            <li class="m-2">To give visual relief to the layout</li>
          </ul>
        </div>
      </div>

      <!-- Text Lesson Section -->
      <div id="•	Characteristic of a Good Photojournalist" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Characteristic of a Good Photojournalist</h1>
        <div>          
          <ul class="list-none text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Should have a working knowledge of his outfit - camera, lens, and film.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Should know a little of art and be possessed with a notion of contrast, composition, angle and shape.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Must have a nose for drama, oddity, rarity, action and for human interest stories.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Must be acquainted with the important as well as with the notorious people who break into the news often.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Must have diplomacy and tact when covering risky assignments like fires, riots, rallies, and demonstrations.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span>	Must have acquainted with libel laws, since libel suits can also proceed from pictures.</li>            
          </ul>
        </div>
      </div>

      <div id="•	Qualities of a Good Photo" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	Qualities of a Good Photo</h1>
        <div>          
          <ul class="list-none text-lg text-gray-800 leading-relaxed pl-4">
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Prominence – a pictures of prominent personalities attract to the interest of readers.</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Action – “action speaks louder than words”</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Human interest – pictures that show emotion</li>
            <li class="m-2"><span class="inline-block h-4 w-4  mr-2">&check;</span> Drama – another form of human interest.</li>          
          </ul>
        </div>
      </div>

      <div id="•	What is a Caption?" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">•	What is a Caption?</h1>
        <p class="text-lg text-gray-800 leading-relaxed m-2">
          -	A caption is the text of body type, accompanying photos or art work or any pictorial illustration.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed m-2">
          -	A caption is the text of body type, accompanying photos or art work or any pictorial illustration.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed m-2 pl-8">
          <span class="inline-block h-4 w-4  mr-2">&check;</span>	Intended to say an em or en at each side.
        </p>

        <div class="bg-pink-100 p-6 rounded-lg mb-4 pl-4">
          <p class="text-lg text-gray-800 leading-relaxed m-2">The Picture Story is the use of a series of pictures with a minimum of words called <strong>caption story</strong>. 
            It also illustrates a “how to” article. </p>
        </div>
        <div class="bg-pink-100 p-6 rounded-lg mb-4 pl-4">
          <p class="text-lg text-gray-800 leading-relaxed m-2">Most pictures in the feature section and in magazines are explained with a caption story in essay form. 
            Aside from answering the important W’s are descriptive, narrative and expository.</p>
        </div>
      </div>
      
  
      <!-- Quiz Section -->
      <!--<div  id="Test Yourself">
        <h1 class="text-3xl font-bold mb-4">Test Yourself</h1> 
        <button (click)="goToQuiz()">Take the Quiz</button>
      </div>-->
        
      
    </div>
    <app-scroll-to-top></app-scroll-to-top>
  </div>

  
  
  