<section class="text-gray-600 body-font">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-wrap w-full mb-25 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-1 text-gray-900">CROSSWORD</h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Welcome to the Crossword Challenge! Click on any square to start typing and just press the button to check answer. Use the clues below to solve each word. Have fun and test your vocabulary!</p>
    </div>

    <div class="crossword-container">
      <div class="crossword-grid">
        <div *ngFor="let row of grid; let rowIndex = index" class="grid-row">
          <div *ngFor="let cell of row; let colIndex = index" class="grid-cell">
            <span *ngIf="getNumber(rowIndex, colIndex)" class="cell-number">{{ getNumber(rowIndex, colIndex) }}</span>
            
            <ng-container *ngIf="isCellInput(rowIndex, colIndex)">
              <input 
                type="text" 
                maxlength="1" 
                (input)="updateCell($event, rowIndex, colIndex)" 
                [value]="answers[rowIndex][colIndex] !== null ? answers[rowIndex][colIndex] : ''" 
                class="cell-input" 
              />
            </ng-container>
            
            <ng-container *ngIf="!isCellInput(rowIndex, colIndex)">
              <span>{{ cell }}</span>
            </ng-container>
          </div>
        </div>
      </div>
    
      <div class="checker">
        <button class="px-6 py-2 bg-blue-600 text-white font-bold rounded-full hover:bg-gray-700 transition duration-300" (click)="checkAnswers()">Check Answers</button>
      </div>
      
    
      <div class="clues">
        <h3>Across</h3>
        <ul>
          <li *ngFor="let clue of acrossClues">{{ clue.index }}. {{ clue.text }}</li>
        </ul>
        <h3>Down</h3>
        <ul>
          <li *ngFor="let clue of downClues">{{ clue.index }}. {{ clue.text }}</li>
        </ul>
      </div>
    
      
    </div>
  </div>
</section>


