<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-pink-500 tracking-widest font-medium title-font mb-1">article</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">ARTICLE</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">put any description here.....</p>
    </div>
    <div class="flex flex-wrap">
      <div *ngFor="let article of articles"
        class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">{{ article.title }}</h2>
        <p class="leading-relaxed text-base mb-4"> {{ article.description }}</p>
        <p><strong>Author:</strong> {{ article.author }}</p>
        <label>Date: </label> <br>
        <span>{{ article.date | date: 'yyyy-MM-dd' }}</span>
        <!-- <label>Time:</label>
        <span>{{ article.date | date: 'HH:mm:ss' }}</span> -->
        <div>
          <a [routerLink]="['/article/view-article', article.articleId]" routerLinkActive="text-blue-800 font-bold"
            class="text-blue-600 hover:underline">See More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <!-- Pagination controls -->

    <div class="flex items-center justify-between mt-4">
      <button 
        (click)="previousPage()" 
        [disabled]="currentPage === 0" 
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 disabled:opacity-50"
      >
        Previous
      </button>
      
      <!-- Page display -->
      <p class="mx-4 text-center">
        Page {{ currentPage + 1 }} of {{ totalPages }}
      </p>
      
      <button 
        (click)="nextPage()" 
        [disabled]="currentPage >= totalPages - 1" 
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 disabled:opacity-50"
      >
        Next
      </button>
    </div>

    <button (click)="goToCreateArticle()"
      class="flex mx-auto mt-16 text-white bg-blue-900 border-0 py-2 px-8 focus:outline-none hover:bg-blue-500 rounded text-lg">Create
      your article and post it here!</button>
  </div>
</section>

