
<div class="container mx-auto">
    <div class="my-8">
      <div>
      <!-- Video Section -->
      <!--<div id="Topic 4" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Lesson Video</h1>
        <video width="1000" height="500" controls>
            <source src="assets/sampleVideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="w-96 h-60 aspect-w-1 aspect-h-1">
            <iframe src="https://www.youtube.com/embed/J1Ip2sC_lss" frameborder="0" allowfullscreen class="w-full h-full"></iframe>
          </div>
        </div>        
      </div>-->
  
      <!-- Text Lesson Section -->
      <div id="What is Campus Journalism?" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">What is Campus Journalism?</h1>
        <p class="text-lg text-gray-800 leading-relaxed text-justify">
           Campus journalism is the practice of journalism found in educational settings, usually in universities or secondary schools. Reporting on events, 
           problems, and goings-on in the campus community is part of it; reports are frequently produced by student-run publications, magazines, blogs, or radio shows. 
           Academic accomplishments, campus activities, athletics, culture, and student life are just a few of the many subjects covered by campus journalists. 
           It provides a forum for students to hone their reporting, writing, and critical thinking abilities while informing the university community. 
           When radio, television, and the Internet emerged in the 20th century, the term "journalism" was first used to refer to the reporting of current events in print, 
           particularly in newspapers. However, its meaning expanded to encompass all printed and electronic communications that dealt with current affairs. 
           The history of college journalism in the Philippines began with the publication of El Liliputiense by the University of Santo Tomas in 1890, 
           according to The History of Journalism in the Philippine Islands (1933) and John Lent in the Philippine Mass Communication (1964). 
           Campus journalism serves as a means of advancement for educational institutions in addition to being an activity that involves gathering, writing, 
           and editing news items about the school for publications such as newspapers, magazines, radio, and television that are only available within the institution.
        </p>
      </div>

      <!-- Text Lesson Section -->
      <div id="The importance of Campus Journalism" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">The importance of Campus Journalism </h1>
        <p class="text-lg text-gray-800 leading-relaxed text-justify mb-8">
          Campus journalism is significant because it represents students' interests, disseminates information, shapes public opinion, addresses problems, 
          and protects universities from their own shortcomings. It serves as a platform for students to voice their opinions and concerns, 
          and helps in shaping the campus environment. Additionally, campus journalism provides hands-on career preparation for student journalists, 
          equipping them with the necessary skills for the workplace .Teaching students to check sources, confirm rights, 
          and present news that is backed up by facts is another way that journalism in the classroom serves to develop conscious and critical content consumers.
           Furthermore, student journalism can be included into a variety of courses and taught alongside other disciplines like physics and history.
        </p>
        
        <ul class="text-lg text-gray-800 leading-relaxed text-justify mb-8">
          <li>
            •It helps students become more aware and engaged citizens by teaching them about current issues and training them to be responsible journalists. 
          </li>
          <li>• It provides students a voice to discuss important issues and events with school administrators through student publications.</li>
          <li>• It helps students improve skills in communication, writing, editing, and teamwork that they can apply to future careers. </li>
        </ul>
        <p class="text-lg text-gray-800 leading-relaxed text-justify mb-8">Schools should support campus journalism programs to develop students and uphold principles of free expression and civic participation.</p>
      </div>
  
      <!-- Quiz Section -->
      <div  id="Quiz"></div>
      <h1 class="text-3xl font-bold mb-4">Lesson Quiz</h1> 
      <app-lesson-quiz [questions]="quizQuestions"></app-lesson-quiz>
      

      

    </div>
    <app-scroll-to-top></app-scroll-to-top>    
  </div>


  
  
  