<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto">
    <div class="max-w-2xl mx-auto p-4">
      <div *ngIf="!quizFinished">
        <div class="mb-6">
          <h1 class="text-lg font-semibold">{{title}}</h1>
          <p class="text-lg">Question {{currentQuestionIndex + 1}} / {{questions.length}}</p>
          <p *ngIf="questions[currentQuestionIndex]" class="text-xl font-bold">{{questions[currentQuestionIndex]?.questionText}}</p>
        </div>
    
        <div class="mb-4">
          <div *ngFor="let option of questions[currentQuestionIndex]?.optionsList" class="mb-2">
            <input type="radio" id="{{option}}" name="option" [(ngModel)]="selectedOption" [value]="option" class="mr-2">
            <label for="{{option}}">{{option}}</label>
          </div>
        </div>
    
        <div *ngIf="showFeedback" class="mt-4">
          <p [ngClass]="{'text-green-500': feedbackMessage === 'Correct answer!', 'text-red-500': feedbackMessage !== 'Correct answer!'}">{{feedbackMessage}}</p>
        </div>
    
        <button (click)="submitAnswer()" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Submit</button>
        <button *ngIf="showFeedback" (click)="nextQuestion()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Next</button>
      </div>
    
      <div *ngIf="quizFinished" class="text-center mt-8">
        <h2 class="text-xl font-bold">Quiz Finished!</h2>
        <p class="text-lg">Your score is {{score}} out of {{questions.length}}</p>
        <button (click)="retakeQuiz()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Retake Quiz</button>
        <button [routerLink]="['/lessons']" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4 ml-2">Back to Lessons</button>
      </div>
    </div>
  </div>
</section>


