
<div class="container mx-auto">
    <div class="my-8">
        
      <!-- Text Lesson Section -->
      <div id="Different Categories in Campus Journalism" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Different Categories in Campus Journalism</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          Campus Journalism serves as a vital platform for students to express their thoughts, respect the truth, provide news and information, 
          and engage with peers within the social community. It is one of the avenues that provides students an opportunity to practice their writing skills 
          not just creatively, but also critically, and at the same time nurturing their moral character and personal discipline as Filipino youth.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          On July 5, 1991, the Philippine Government approved and passed the Republic Act 7079 referred to as the Campus Journalism Act of 1991. 
          This act safeguards the freedom of the press even within campus level or educational institutions that aim to support the improvement of
           journalistic skills of students and advocate for the preservation of the integrity of journalism.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          Within this dynamic field, various categories exist, each playing a unique role in shaping the narrative of campus life. 
          By engaging in meaningful storytelling and upholding the highest standard of journalism, offers students the opportunity to explore
           different facets of storytelling and communication. In this lesson, we will delve into the different categories that make up the vibrant landscape of
            campus journalism. Here are the categories in campus journalism:
        </p>
      </div>

      <!-- Text Lesson Section -->
      <div id="1.	News Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">1.	News Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          &mdash;	News writing is a form of journalism that aims to provide readers with factual information about a story in an objective and unbiased manner.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          &mdash;	In news writing, the language used must be <strong>clear</strong> and <strong>concise</strong> and the presentation of information must be 
          <strong>complete, correct, cohesive,</strong> and <strong>chronological</strong>—these are the six C’s of news writing. 
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          &mdash; When engaging in journalistic writing, it is essential to consider both the audience and the tone in which the piece is delivered,
           as well as the <strong>ABC</strong>s of news writing: <strong>Accuracy, Brevity,</strong> and <strong>Clarity</strong>. 
           <span class="text-blue-500">(NMU Writing Center, 2024) </span>
        </p>
      </div>

      <!-- Text Lesson Section -->
      <div id="- ABCs of News Writing" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- ABCs of News Writing</h1>
        <ul class="list-disc pl-8">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Accuracy</span>: in news reporting is crucial as it upholds public trust, prevents potential libel issues,
             and underscores the importance of thorough fact-checking for journalists to maintain credibility and integrity in their work.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Brevity</span>: Get straight to the point. A news story must get to the point quickly and concisely. 
            Your lead should draw your reader in and you should end with an interesting finish.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Clarity</span>: You should have all of your facts and have them organized before you start writing. 
            Your story should leave no question unanswered and should avoid jargon (in other words, make the topic accessible for readers of all levels, not just experts).
          </p></li>
        </ul>
        
      </div>

      <div id="- News Value: What Makes a Story Newsworthy?" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- News Value: What Makes a Story Newsworthy?</h1>
        <p class="text-lg text-gray-800 leading-relaxed m-4">The process of news writing encompasses not only reporting important events and providing facts but 
          also determining the relevance and impact of a story. This will help you to decide whether or not to cover an event or an announcement and to capture 
          the attention of audiences or readers. 
          News has value when it shows at least one of the following elements:</p>
        <ul class="list-decimal pl-8">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Prominence</span>: Events are more newsworthy when they involve public figures.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Proximity</span>: Events are more newsworthy the closer they are to the community reading about them.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Timeliness</span>: An event is more newsworthy the sooner it is reported.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Impact</span>: Events are more newsworthy when they affect a greater number of 
            people and it makes a difference in the lives of the readers.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Conflict</span>: Events are more newsworthy when they involve disagreement.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Human Interest</span>: News that is touching, stirring, or otherwise interesting has news value.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Novelty/Oddity</span>: Events are more newsworthy the more out of the ordinary they are.
          </p></li>
        </ul>
        
      </div>

      <div id="- The Structure of the News Story" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- The Structure of the News Story</h1>
        <p class="text-lg text-gray-800 leading-relaxed m-4">News articles follow an <strong>Inverted Pyramid</strong> format. 
          The article's lead, or main points—the who, what, when, where, why, and how of a story—are placed at the top or beginning of the article.  
          Additional information follows the lead and less important, but still relevant information, comes after that. 
          The lead information gets the most words since many people read the lead and then skim the rest of the article. </p>
        <img src="assets/InvertedPyramid.png" alt="Inverted Pyramid">

        <h1 class="text-xl font-bold mb-4">The Lead:</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          The lead could be seen as the most essential part of the newspaper structure. 
          It should be one paragraph long, and by reading it, your audience should be able to understand exactly what your article is about and what you are reporting on.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">Key features of the lead paragraph:</p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            It needs to be short and snappy so that the message is portrayed clearly. 
            You can achieve this by communicating your message in as few words as possible- just make sure it makes sense.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The lead paragraph should explain clearly what has happened so that if your readers stopped reading after the lead, 
            they would understand the main message of your report.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Stick to using the past tense.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            It should be written in the third person.
          </p></li>          
        </ul>

        <h1 class="text-xl font-bold mb-4">The Five Ws (and H)</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          Another way to make sure that your reader gets the key messages in your report is to stick to the Five Ws in your lead paragraph. 
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">These include:</p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Who</span>: which people were mainly affected by the events you are reporting on?
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">What</span>: what are the key events that happened?.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Where</span>: where did those events take place?
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">Why</span>: is there a specific reason why these events occurred?
          </p></li>       
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">When</span>: what was the time, day, month, and year (if necessary) that the events happened?
          </p></li> 
          <li><p class="text-lg text-gray-800 leading-relaxed">
            <span style="font-weight: bold; color: black;">How</span>: this isn’t strictly a word starting with the letter ‘w’, but it is useful for your lead paragraph. 
            Explain the manner in which the events occurred, or what made them able to happen.
          </p></li>    
        </ul>

        <h1 class="text-xl font-bold mb-4">The Body:</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          This is the main section of your newspaper article, so it will include lots of important information about what happened, 
          along with more detail about what you said in your lead section. 
          The body should be around 3-4 paragraphs long, depending on how much your teacher has instructed you to write.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">Key features of the body:</p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            This is the chance for you to go into as much detail as possible about what happened.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The most important information about the events should go first.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Each paragraph should be on a slightly different aspect of what happened.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            It should be written in the third person.
          </p></li>       
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Explain the background information that is relevant to the story.
          </p></li> 
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Include evidence, facts, and quotes from people related to the event.
          </p></li>    
          <li><p class="text-lg text-gray-800 leading-relaxed">
            You could also include a quote from an expert on the topic you are reporting on.
          </p></li> 
        </ul>

        <h1 class="text-xl font-bold mb-4">The Tail:</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          The tail includes the least important information from your report and functions, to sum up the events.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">Key features of the tail:</p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Add any extra or surrounding information about the event or related topics.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Include links for where to find extra information about the topic or other news reports.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            You could also feature a quote from an expert or witness, to sum up the story or imply what may unfold next.
          </p></li>          
        </ul>
        
      </div>

      <div id="- Writing the Headline" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- Writing the Headline</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">A news story is not complete without a headline. It serves as the title of your article. 
          It is the first thing that readers see and helps them decide whether they want to read the full story. 
          Headlines are crucial for attracting attention, providing context, and guiding readers to the content that follows. 
          In journalism, a headline is considered an essential element of a news story, and its absence can leave the story lacking in clarity and impact.</p>
          <p class="font-bold text-lg text-gray-800 leading-relaxed mb-2">Rules in Writing Headline</p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must have a verb
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Do not use period (.)
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use a comma in place of “and” and a semicolon to separate sentences
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Don’t use the articles: a, an, the
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Don’t use names unless the person is well-known
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use the infinitive for future events
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use specific terms instead of generalities
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The first letter of the first word and proper nouns are capitalized
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The headline should give the gist of the story in just a few words
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The content of the headline over a news story should be taken from the lead of a news
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Write numbers in Arabic form (1, 2, 3, 4, 5…)
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use single quotation marks instead of double quotation marks
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use only familiar abbreviations or acronyms in the headline
          </p></li>
        </ul>
        <p class="font-bold text-lg text-gray-800 leading-relaxed mb-2"> How to Write an Effective Headline</p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must be correct (in fact and implication)
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must correct to ordinary readers
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must attract attention
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must set (or match) the tone of the article
          </p></li>          
        </ul>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">After the headline, you must consider including the byline. 
          A byline is a part of an article that tells the reader who is the author or writer of an article in a publication and is placed below the headline. 
          Bylines are essential in news writing as they enhance credibility, promote transparency, 
          hold writers accountable, give recognition to journalists, and establish a connection with readers.</p>
        <img src="assets/byline.png" alt="byline">        
      </div>

      <div id="- General Rules for News Writing" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- General Rules for News Writing</h1>        
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Do not pass a verdict or make a judgment;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Do not editorialize: Leave editorializing to the editorial writers. News reports must be as straightforward and objective as possible;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Avoid the use of unfamiliar jargon;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Keep yourself and other reporters out of the story;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Avoid the use of “told me,” “told this writer” or “told our reporter;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            There must be perfect accuracy in writing and reporting;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            There must be no willful distortion of facts in either news or headlines;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Always use simple words;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Leave at least a one-inch margin at the left, right, top, and bottom of each page: Do not overcrowd the pages;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            You must quote accurately;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use “said” if you want to write in the present tense and, “said that” if it is reported speech: This style helps the copy retain currency and life;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Always read your copy carefully and connect all typographical spelling and grammatical mistakes before turning it in;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use only one thought or idea per paragraph; and
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Write to inform and to express, not to impress.
          </p></li>
        </ul>            
      </div>

      <div id="2.	Feature Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">2.	Feature Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          &mdash; Feature Writing is a form of literary expression within the field of journalism that is based on 
          true stories or facts that aim to provide more comprehensive information.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          &mdash;	It focuses on in-depth storytelling, analysis, and exploration of a particular topic, person, 
          or event to engage and inform readers and it is widely used in magazines, online media, and newspapers.
        </p>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">
          &mdash; Its purpose is to entertain and inform the audience or readers by highlighting 
          an interesting and engaging angle of a straight news story in a creative and unique perspective.
        </p>
      </div>

      <div id="- News Story vs. Feature" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- News Story vs. Feature</h1>    
        <p class="text-lg text-gray-800 leading-relaxed m-4">	A feature story takes a different style in delivering facts and details than a news story. 
          They differ in tone, structure, purpose, timing, and even length. In writing, a feature writer has much more freedom and can be more reflective than
           a straight news writer. To further understand their differences,
           here is the table (from BBC, 2024) that compares some of the characteristics of news stories and features:</p>    
           <img src="assets/storyandfeature.png" alt="story and feature" class="mb-2">
           <img src="assets/storyandfeature1.png" alt="story and feature" class="mb-2">                  
      </div>

      <div id="- Structure of Feature Writing" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- Structure of Feature Writing</h1>    
        <p class="text-lg text-gray-800 leading-relaxed m-4">Like any form of writing, a feature story follows a standard structure.
           While the structure may change based on the topic,
           a feature article should always consist of a headline, introduction, main content, and a conclusion.</p>  
           <p class="font-bold text-lg text-gray-800 leading-relaxed m-4">Structure of the Feature Story (Hawthorne, 2024)</p>    
           <h1 class="text-xl font-bold mb-4"> 	Title & Headline </h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          The headline performs two important functions. An effective headline: 
        </p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Grabs the reader's attention and persuades them to read the article 
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Highlights the main idea of the article. 
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Includes keywords (for online articles).
          </p></li>          
        </ul>

        <h1 class="text-xl font-bold mb-4"> 	Lead</h1>
        
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            It should create an image, send a verbal message and capture the reader's imagination.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The tone should fit the mood of the story and supply the theme or angle.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            It should lead the reader into the story.
          </p></li>  
        </ul>
        <p class="italic text-lg text-gray-800 leading-relaxed mb-2 pl-16">
          What makes a good lead:
        </p>
        <ul class="list-disc pl-20 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            An anecdote that represents the universal truth.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The description of a scene that helps to establish a tone or mood.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            A description of a subject: face, demeanor, posture.
          </p></li>  
          <li><p class="text-lg text-gray-800 leading-relaxed">
            A powerful quote.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            A startling statement.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The strength of any sentence is judged by its degree of improbability. "Fall is here and that means the start of football season," tells the reader nothing.
          </p></li>  
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The following lead is much better: "Fall is here, a fact that head coach Bill Smith may view with some trepidation. 
            Not only does he have to replace 14 seniors from a 2-8 season, he must deal with the recent season-ending injury to returning quarterback Dave Jones."
          </p></li>
        </ul>

        <h1 class="text-xl font-bold mb-4">Body</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          The headline performs two important functions. An effective headline: 
        </p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            It should be unified with all material relating to the theme. All unnecessary data should be omitted.
             Care should be taken to make certain that each sentence and paragraph adds to the impact of the narrative.
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The story is organized in a logical order. This does not necessarily mean chronological order. 
            However, the reader should be able to follow the narrative of the story as the action jumps back and forth from the past, the present, and even the future.
          </p></li>
        </ul>

        <h1 class="text-xl font-bold mb-4">Conclusion</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          The headline performs two important functions. An effective headline: 
        </p>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            The ending should give a sense of finality and resolution to the reader. 
            It wraps up all loose ends and leaves the reader with a single, significant thought. It stands alone as the reader's final impression.
          </p></li>
          
        </ul>
                        
      </div>

      <div id="- Different Types of Feature Writing" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- Different Types of Feature Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed m-4">As cited in an article by Leverage Edu, 2021, 
          The book "The Universal Journalist" by British journalist David Randall, a widely praised work on journalism, 
          discusses various types of feature stories. These are: </p>

          <ul class="list-disc pl-8 mb-2">
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Colour Piece</span>: A feature story that essentially tries to inform readers regarding a particular theme or subject.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Fly on the Wall</span>: A feature story that is conceived and narrated unobtrusively and mostly without the explicit permission of the subjects.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Behind the Scenes</span>: A feature story that shifts its focus from the principal event to the background and narrates an interesting tale.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">In Disguise</span>: A feature story that is told while the storyteller is a part of the event.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Interview</span>: A feature story that develops itself around questions asked to a respondent, who is usually in a place of prominence.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Profile</span>: A feature story that is based on the exploits of a particular eminent person with or without his/ her interview.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">How-To</span>: A feature story that is dependent on research and helps readers in solving a problem or deciphering a scenario.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Fact Box/ Chronology</span>: A feature story that provides plain and simple facts mostly in chronological order.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Backgrounder/ A History of</span>: A feature story that provides detailed information.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Full Texts</span>: A feature story that is nothing but extracts from a book or transcripts of an interview.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Testimony</span>: A feature story that is the first-person account of an individual. 
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Analysis</span>: A feature story that scholarly analyzes an event.
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Vox Pop/ Expert Roundup</span>: A feature story that accumulates opinions from the general citizenry and thought leaders concerning a subject
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Opinion Poll</span>: A feature story that conducts research on opinions and presents a generalized summary of the accumulated opinions
            </p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Review</span>: A feature story that reviews a work of art and presents a generalized opinion.
            </p></li>
          </ul>
  
          

      </div>

      <div id="- Tips for Writing Feature Article" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- Tips for Writing Feature Article</h1>
        <p class="text-lg text-gray-800 leading-relaxed m-4">Feature writing demands careful observation of insightful interviewing, going behind the scenes, 
          and commitment to uncovering the big story beneath the facts. 
          Here are the following tips that can help to write a feature article effectively: 
          <a href="https://aaft.com/blog/mass-communication/how-to-write-a-feature-article/" class="text-blue-500">(aaft.com/blog)</a></p>

          <ul class="list-decimal pl-8 mb-2">
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Choose an Interesting Angle</span>:
            </p><p class="text-lg text-gray-800 leading-relaxed">The first step in feature story writing is selecting a unique and compelling angle or theme for your story. 
              Look for an aspect of the topic that hasn’t been explored widely, or find a fresh perspective that can pique readers’ curiosity.</p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Conduct Thorough Research</span>:
            </p><p class="text-lg text-gray-800 leading-relaxed">Solid research is the foundation of any feature story. 
              Dive deep into your subject matter, interview relevant sources, and gather as much information as possible. 
              Understand your subject inside out to present a comprehensive and accurate portrayal.</p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Humanize Your Story</span>:
            </p><p class="text-lg text-gray-800 leading-relaxed">Feature stories often revolve around people, their experiences, and their emotions. 
              Humanize your narrative by introducing relatable characters and sharing their stories, struggles, and triumphs.</p></li>
              <li><p class="text-lg text-gray-800 leading-relaxed">
              <span style="font-weight: bold; color: black;">Create a Strong Lead</span>:
            </p><p class="text-lg text-gray-800 leading-relaxed">Your opening paragraph, or lead, should be attention-grabbing and set the tone for the entire story. 
              Engage your readers from the start with an anecdote, a thought-provoking question, or a vivid description.</p></li>
              <li><p class="text-lg text-gray-800 leading-relaxed">
                <span style="font-weight: bold; color: black;">Structure Your Story</span>:
              </p><p class="text-lg text-gray-800 leading-relaxed">Feature stories typically follow a narrative structure with a beginning, middle, and end. 
                The beginning introduces the topic and engages the reader, 
                the middle explores the depth of the subject, and the end provides closure or leaves readers with something to ponder.</p></li>
                <li><p class="text-lg text-gray-800 leading-relaxed">
                  <span style="font-weight: bold; color: black;">Use Descriptive Language</span>:
                </p><p class="text-lg text-gray-800 leading-relaxed">Paint a vivid picture with your words. 
                  Utilize descriptive language and sensory details to transport your readers into the world you’re depicting.</p></li>
                  <li><p class="text-lg text-gray-800 leading-relaxed">
                    <span style="font-weight: bold; color: black;">Incorporate Quotes and Anecdotes</span>:
                  </p><p class="text-lg text-gray-800 leading-relaxed">Quotes from interviews and anecdotes from your research can breathe life into your story. 
                    They add authenticity and provide insights from real people.</p></li>
                    <li><p class="text-lg text-gray-800 leading-relaxed">
                      <span style="font-weight: bold; color: black;">Engage Emotionally </span>:
                    </p><p class="text-lg text-gray-800 leading-relaxed">Feature stories should evoke emotions. 
                      Whether it’s empathy, curiosity, joy, or sadness, aim to connect with your readers on a personal level.</p></li>
          </ul>
      </div>

      <div id="3.	Sports Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">3.	Sports Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">Sports Writing is a specialized form of journalism that covers sports, athletes, 
          or other sports-related issues and events. Sports journalism aims to inform, entertain, and engage readers by capturing the excitement, drama, 
          and human-interest aspects of sports. A journalist who reports on sports is called a sportswriter. A sportswriter is responsible 
          for crafting an engaging and descriptive narrative of sports events, statistics, and interviews, and providing analysis and reports on game outcomes.</p>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">In writing a sports article, a writer must have an interest in all sports events.
           They should know the rules and regulations of the event or game they are writing about. 
          They should have a working knowledge of the language and jargon of sports writing usually referred to as sports lingo.</p>
      </div>

      <div id="- Qualities of a Good Sports Writer" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- Qualities of a Good Sports Writer</h1>
        <ul class="list-disc pl-8 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must know sports; rules, strategy, team, and players’ records;
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must attend the games or meets as a reporter, not as spectator or cheerer;</p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Must know coaches and players as intimately as possible;</p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              Must observe accuracy;</p></li>
            <li><p class="text-lg text-gray-800 leading-relaxed">
              Must be able to take notes quickly without losing the sequence of the play;</p></li>
              <li><p class="text-lg text-gray-800 leading-relaxed">
                Must be fair and unbiased in reporting events, although he has a favorite team;</p></li>
                <li><p class="text-lg text-gray-800 leading-relaxed">
                  Must not make comments without supporting them with facts on which they are based, although sports writers have more freedom than any other news writers;</p></li>
                  <li><p class="text-lg text-gray-800 leading-relaxed">
                   Must use the specialized language of the particular sports that he is reporting;</p></li>
                    <li><p class="text-lg text-gray-800 leading-relaxed">
                      Must avoid sports slang and trite expressions which hack writers use today. They should tell the story in plain factual terms that describe the action; and</p></li>
                      <li><p class="text-lg text-gray-800 leading-relaxed">
                      Must bear in mind that they write for their readers and not for themselves.</p></li>
        </ul>
        
        <h1 class="text-xl font-bold mb-4">Structure of the Sport Story</h1>
        <img class="mb-2" src="assets/structuresportstory.png" alt="Structure of the Sport Story">

        <h1 class="text-xl font-bold mb-4"> 	Lead</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          it summarizes or analyzes the event by giving the significance, the winner, the hero, the score, the place, and the time or date when the event happens.
        </p>

        <div class="bg-pink-100 p-6 rounded-lg mb-4 pl-4">
          <p class="font-bold italic text-lg text-gray-800 leading-relaxed mb-2">Classic or Summary Lead</p>
          <p class="text-lg text-gray-800 leading-relaxed mb-2 pl-4">(1) Who won (2) against whom (3) by what score (4) where and (5) when.</p>
          <p class="italic text-lg text-gray-800 leading-relaxed mb-2">Example:</p>
          <p class="text-lg text-gray-800 leading-relaxed mb-2 pl-4"><span class="text-blue-400">(1)</span> The Rizal National High School won against <span class="text-blue-400">(2)</span> Llanera High School, 
            <span class="text-blue-400">(3)</span> 87-53, <span class="text-blue-400">(4)</span> at the opponent’s ground <span class="text-blue-400">(5)</span> yesterday afternoon.</p>
        </div>

        <h1 class="text-xl font-bold mb-4"> 	Climax of the Game</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          it is the highlight of the game. This part of the story accounts for the aggressiveness of the team or the player on the court.
        </p>

        <h1 class="text-xl font-bold mb-4"> 	Decisive Play</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          This accounts for the most crucial part of the game that gives a certain team the winning margin.
        </p>

        <h1 class="text-xl font-bold mb-4"> 	Quote</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          It is important to account for the sentiments of the hero/es of the day. Words fresh from the winner/s are vital in the writing of the story of posterity.
        </p>

        <h1 class="text-xl font-bold mb-4"> 	Play-by-play Account</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          This part of the story recaps the sports event covered. This is usually done through round-by-round reporting. 
          It is important to note that this part must be score-oriented and must describe the progress of the fight in detail.
        </p>

        <h1 class="text-xl font-bold mb-4"> 	Significance of the Game</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          consider questions like, Was a champion at stake? Do the standings of the teams change? 
          Who gets the cup? Is the grudge wiped out? (Championship, do-or-die elimination).
        </p>

        <h1 class="text-xl font-bold mb-4"> 	Other Information</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-2">
          this might include a comparison of the teams, individual stars, weather conditions, or crowd and celebration.
        </p>          
      </div>

      <div id="- Basic Rules for Writing Sports Story" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- Basic Rules for Writing Sports Story</h1>

        <ul class="list-disc pl-20 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Know the rules of the game
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use special vocabulary (Sports Terms or Sports Lingo)
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Get all your facts
          </p></li>  
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Jot down an outline
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Make a good lead
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Use punchy verbs or strong verbs
          </p></li>  
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Get quotations from players, coaches, officials, and spectators
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Include key plays (best players)
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Revise or edit your sports stories
          </p></li>
        </ul>

      </div>


      <div id="- Dynamic and Punchy Verbs" class="mb-8">
        <h1 class="text-xl font-bold mb-4">- Dynamic and Punchy Verbs</h1>

        <ul class="list-disc pl-20 mb-2">
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Win by a big margin: battered, mangled, clobbered, powdered, walloped, pulverized
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Win by a small margin: shaded, eked out, nipped, edged out
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Defeat a champion: dethroned, overthrew, overturned, toppled, snatched the crown, grabbed the crown, bagged the title
          </p></li>  
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Remain the title: kept the crown, retained the title
          </p></li>
          <li><p class="text-lg text-gray-800 leading-relaxed">
            Give an opponent a zero score: blanked, whitewashed
          </p></li>
          
        </ul>

      </div>
  
      <!-- Quiz Section -->
      <!--<div  id="Test Yourself">
        <h1 class="text-3xl font-bold mb-4">Test Yourself</h1> 
        <button (click)="goToQuiz()">Take the Quiz</button>
      </div>-->

    </div>
    <app-scroll-to-top></app-scroll-to-top>
  </div>




  
  
  