
<div class="container mx-auto">
    <div class="my-8">      
  
      <!-- Text Lesson Section -->
      <div id="Punctuation in Journalistic Writing" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Punctuation in Journalistic Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
            Punctuation marks are helpful for readers to understand a certain text or article. 
            The absence of proper usage of punctuation marks can lead to confusion and misinterpretation.
        </p>
      </div>

      <div class="mb-8">
        <p>The following are the most commonly used punctuation marks: </p>
      </div>

      <!-- Text Lesson Section -->
      <div id="I.	Period, comma and colon" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">I.	Period, comma and colon</h1>      
      </div>

      <!-- Text Lesson Section -->
      <div id="•	Period (.)" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Period (.)</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-8">
            – Above all the punctuation marks, this the most commonly used. It used to end a sentence. 
        </p>            
      </div>

      <div id="•	Comma (,)" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Comma (,)</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">– this punctuation indicates a pause. </p>
        
        <p class="text-lg text-gray-800 leading-relaxed mb-4">Comma is used in:</p>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Separating series of words and clauses of a compound and compound – complex sentence. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Examples:</p>
              <p class="mb-2"> Erica, Joanna, Nash, Kenneth, Coleen, Sariel, and Quincy will graduate next year.</p>
              <p class="mb-2">Ms. Tolentino is a great teacher, but her students are scared by her strictness.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Complimentary close and salutation of a letter</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Examples:</p>
              <p class="mb-2">Respectfully yours,</p>
              <p class="mb-2">Dear Ma’am/Sir,</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Transitional and introductory phrases</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: She is good at language subjects. <span style="font-weight: bold; color: black;">However</span>, she failed her math subject. (Transitional)</p>
              <p><span style="font-weight: bold; color: black;">When I was in grade school</span>, I used to love arts and crafts. (Introductory)</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Separating an appositive</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example:  Miriam Defensor Santiago, <span style="font-weight: bold; color: black;">a former politician in the Philippines</span>, was the best senator.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Person’s position or title. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: Karen Joyce Tolidanes, LPT</p> 
              <p>April Vistal, President, Researchers’ Hub Philippines </p>              
            </div>           
      </div>

      <div id="•	Colon (:)" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Colon (:)</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">– It is used in:</p>
            

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Enumerating words.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: The senate hearing was attended by the following senators: Sen. Risa Hontiveros, Sen. Loren Legarda, Sen. Win Gatchalian, and Sen. Jinggoy Estrada.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Introducing a quote</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example: Dr. Jose Rizal once said: “Youth is the hope of nation.”</p>
            </div>
      </div>

      <div id="II.	Semicolon, Dash, and Hyphen" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">II.	Semicolon, Dash, and Hyphen</h1>      
      </div>

      <div id="•	Semicolon (;)" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Semicolon (;)</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">Semicolon is used to :</p>
            

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Join two related independent clauses in place of a coordinating conjunction. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: Kathlyn was studying all night; she passed the exam on the next day.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Separate clauses or phrases that already have commas. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example: Felly watched various movies during summer break which includes Hello love, Goodbye; The Good, the Bad and the Ugly; and Monsters, Inc. </p>
            </div>
      </div>

      <div id="•	Dash (--)" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Dash (--)</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">Dash is used in:</p>
            

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Place of comma to separate clauses.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: Bestlink College of the Philippines was able to successfully conduct its research festival – which has 16 participants – on May 2023. </p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Numbers and Letters omission</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example: On June 28, 30 – Cheena celebrated her birthday. </p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Introducing an enumeration</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example: She mentioned her classmates whom she caught cheating – namely: Ryle Santos, Lyza Castro, and Jhonmark De Leon.</p>
            </div>
      </div>

      <div id="•	Hyphen (-)" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Hyphen (-)</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">Hyphen is shorter than a dash. It is used in :</p>
            

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Separating compound words. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: mother-in-law, editor-in-chief, fast-paced</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Connecting modifiers before a noun</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Examples: well-written, short-term</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Spelled out fractions and compound numbers from twenty-one to ninety-nine.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Examples: One-half , two-thirds, seventy-six, forty-five</p>
            </div>
      </div>

      <div id="Vocabulary in Journalistic Writing" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">Vocabulary in Journalistic Writing</h1>    
        <p class="text-lg text-gray-800 leading-relaxed mb-4">Vocabulary refers to a group of words known by a person in a language Merriam Webster’s dictionary defines vocabulary 
            as “stock of words used in a language, by a group or individual, or in relation to a subject.”</p>  
      </div>

      <div id="Importance of Wide vocabulary in Journalistic Writing" class="mb-8">
        <h1 class="text-xl font-bold mb-4">Importance of Wide vocabulary in Journalistic Writing</h1> 
        
        <ul class="text-lg text-gray-800 leading-relaxed mb-8">
            <li class="mb-2">1.	Use of wrong words will affect the whole meaning of an article. Right words must be used in describing or reporting an event. </li>
            <li class="mb-2">2.	Words will shape the thoughts and emotions of the readers; therefore, a writer or journalist must choose words carefully. </li>
            <li class="mb-2">3.	Limited vocabulary means limits expression of the message. With small knowledge on words, writers may find it difficult to tell the story of an event or to express his/her opinion.</li>
        </ul>
           
      </div>

      <div id="How to attain a wide vocabulary?" class="mb-8">
        <h1 class="text-xl font-bold mb-4">How to attain a wide vocabulary?</h1> 
        
        <ul class="text-lg text-gray-800 leading-relaxed mb-8">
            <li class="mb-2">1.	Read. The best way to improve vocabulary is through reading ng books, novels, dictionary, and newspaper. 
                Through reading, you will encounter new words that will add up to your vocabulary. </li>
            <li class="mb-2">2.	Take down notes. After you have encountered a new word, take note of its meaning. This way, you will remember it better. </li>
            <li class="mb-2">3.	Write often. Writing is a good way of improving your vocabulary. </li>
            <li class="mb-2">4.	Learn from context. This helps when or how to use the word appropriately. By looking for the context in a sentence, it will help you guess the meaning of a word.</li>
            <li class="mb-2">5.	Use Language apps. With the emergence of technology, 
                there are various applications that were developed to help you improve your vocabulary, e.g., WordUp, Duolingo,Wordscape, Memrise, etc.</li>
        </ul>

        <img class="" src="assets/Journalistic.png" alt="journalistic words and phrases ks2">

        <p>source: <a href="https://schools.firstnews.co.uk/wp-content/uploads/sites/3/blog/journalistic-writing/journalistic_words_and_phrases-ks2.pdf">schools.firstnews.co.uk</a></p>
           
      </div>


      

  
      <!-- Quiz Section -->
      <div  id="Quiz">
        <h1 class="text-3xl font-bold mb-4">Lesson Quiz</h1> 
        <p class="text-lg text-gray-800 leading-relaxed text-justify">Take a quiz. placeholder for quiz link</p>
      </div>
      <!--<div  id="Quiz">
            <h1 class="text-3xl font-bold mb-4">Lesson Quiz</h1> 
            <p class="text-lg text-gray-800 leading-relaxed text-justify">Take a quiz. placeholder for quiz link</p>
      </div>-->
    <app-scroll-to-top></app-scroll-to-top>
  </div>

  
  
  