
<div class="container mx-auto">
    <div class="my-8">
      <div id="Topic W">
      <!-- Video Section -->
      <!--<div id="Topic 9" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Lesson Video</h1>
        <div class="w-96 h-60 aspect-w-1 aspect-h-1">
          <iframe src="https://www.youtube.com/embed/J1Ip2sC_lss" frameborder="0" allowfullscreen class="w-full h-full"></iframe>
        </div>-->
      </div>
  
      <!-- Text Lesson Section -->
      <div id="Grammar in Journalistic Writing" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Grammar in Journalistic Writing</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          Grammar is a very important element of writing. Having a good grammar enables a writer to convey his/her message clearly and effectively. Good grammar is significant in writing a--- because it helps a writer to communicate professionally, as well as it adds authority to one&#39;s work.
        </p>
      </div>

      <!-- Text Lesson Section -->
      <div id="What are the Different Rules of Grammar in News Writing?" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">What are the different rules of Grammar in News Writing?</h1>
      
      </div>

      <!-- Text Lesson Section -->
      <div id="•	Be mindful of tenses to use" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Be mindful of tenses to use</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-8">
          A news article is composed of events that already happened or occurred, so the use of past tense is a must. However, this tense must be avoided when writing the headline of a news. 
        </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example:</p>
              <p> 
                Ms. Alice Guo, the mayor of Bamban, was invited in a senate hearing.
              </p>
              <p>Example in Headline: </p>
              <p>Alice Guo present at senate hearing</p>
            </div>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present tense (verb + es/s) – currently happening</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: </p>
              <p>She <span style="font-weight: bold; color: black;">walks</span> down the alley everyday.</p>
              <p>Toni <span style="font-weight: bold; color: black;">goes</span> to sleep every morning because her job is in night shift.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past tense (ed/d) – occurred in the past</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: Kath <span style="font-weight: bold; color: black;">visited</span> Singapore last month.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Tense (will+base verb or am/ is/ are going to + base verb) – Will happen in the future </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples:</p>
              <p>I <span style="font-weight: bold; color: black;">will</span> bring foods tomorrow. </p>
              <p>We <span style="font-weight: bold; color: black;">are going to</span> Disneyland next week.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present Perfect (has/have + past participle) already happened with no specified time</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example:  I <span style="font-weight: bold; color: black;">have</span> written a poem before.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past Perfect (had + past participle) a past action before another past action. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: I <u>passed</u> the semester because I <span style="font-weight: bold; color: black;">had submitted</span> all of my requirements.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Perfect (am/ is/ are + to have + past participle) or (will have + past participle)</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples:</p>
              <p>I <span style="font-weight: bold; color: black;">am going to have finished</span> my report before the next meeting.</p>
              <p>She <span style="font-weight: bold; color: black;">will have written</span> the script before the taping starts.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present Progressive (am/ is/ are + present participle) happening and continuing</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: Ms. Karen Davila <span style="font-weight: bold; color: black;">is throwing</span> questions to Mayor Alice Guo.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past Progressive (was/ were + present participle) happening but did not continue</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: She <span style="font-weight: bold; color: black;">was watching</span> a Korean series when her mom ringed her phone. </p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Progressive (is/ are/ am + going to be +present participle) or (will be + present participle) will happen in a certain time</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: </p>
              <p>She <span style="font-weight: bold; color: black;">will be taking</span> a medical course in college.</p>
             <p>She <span style="font-weight: bold; color: black;">is going to be teaching</span> in UP starting on Monday.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present Perfect Progressive (has/ have/ +been + present participle) happened in the past and is continuing</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example: She <span style="font-weight: bold; color: black;">has been playing</span> piano since she was a child.</p>
              <p><span style="color: red;">NOTE</span>: Have is used for first person (I), second person (You) and third person plural pronouns (We, They). Has is used for third person singular pronouns (he, she, it)</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past Perfect Progressive (had + been + present participle) an action started in the past and continued until another event in the past</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: She <span style="font-weight: bold; color: black;">had been complaining</span> her headache for days until last week</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Perfect Progressive (is/ are/ am + going to have been + present participle) or (will have been + present participle)</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: He <span style="font-weight: bold; color: black;">will have been</span> making lots of money by the time his business becomes successful.</p>
            </div>
      </div>

      <div id="•	Use of nouns. " class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Use of nouns. </h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">A noun is defined as a name of place, things, person or idea. 
          This noun should begin with a small letter except when used as a first word in a sentence. </p>
        
        <p class="text-lg text-gray-800 leading-relaxed mb-4">There are many types of nouns: </p>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Common noun – is a type of noun that refers to a general object or idea</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: animal, doctor, author, country, politician</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Proper noun – refers to a specific person, place or things. This noun should start with capital letter.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: Chihuahua, Dr. Vicky Belo, Coleen Hoover, Philippines, Sen. Risa Hontiveros</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Concrete nouns – are nouns that physically exists and can interact with the senses. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: philosophers, stage, doorknob</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Abstract nouns – are the ideas, thoughts, or concepts that cannot interact with the senses. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: love, passion, joy, happiness</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Collective Nouns – are nouns that refer to a group or collective of animals, people or things. This type of noun should not be capitalized.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples:</p>
              <ul class="mb-2">
                <li>faculty – group of individual teachers</li>
                <li>bouquet – group of flowers with decorative wrapping</li>
                <li>team –  group of players</li>
                <li>family – group of one or more parents and their children</li>
                <li>crowd – a large number of people gathered together</li>
              </ul>
            </div>
            <div>
              <p class="mb-2">Remember that collective nouns take singular verb when the action is done together 
                and it take plural verb when the individuals composing the group or collective are emphasized. 
              </p>
              <div class="bg-pink-100 p-6 rounded-lg mb-4">
                <p class="mb-2">Example of Collective noun with singular verb: </p>
                <p>The <i>faculty</i> is preparing for the upcoming foundation day. </p>

                <p class="mb-2">Example of collective noun with plural verb: </p>
                <p>The <span style="font-weight: bold; color: black;">faculty</span> are in disagreement of shirt color they will wear for the upcoming foundation day. 
                  (Each member or individual in the faculty disagrees with one another.)</p>                
              </div>
              
            </div>
      </div>

      <div id="•	Singularity and Plurality" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Singularity and Plurality</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	A singular noun takes a singular verb. </p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example:  <u>Ms. Lea Santos</u> was a speaker of the leadership seminar on May 4-5, 2024.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Nouns connected by and often take plural verb.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: <u>Karen and April</u> were declared as dean’s listers. </p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Nouns referring to the same subject takes singular verb.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example: The artist and entrepreneur is known for his humility and good leadership.</p>
              <p><span style="color: red;">Note</span>: Alfred is an artist and entrepreneur.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Do not just add –s or –es to a noun. Some nouns have the same plural forms.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Examples: crossroads/crossroads, aircraft/aircraft</p>
            </div>
      </div>

      <div id="Errors to Avoid in Writing a Newspaper" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">Errors to Avoid in Writing a Newspaper</h1>      
      </div>

      <div id="" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Avoid FREQUENT use of pronouns.</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">Pronouns can be helpful. 
              However, antecedent is a must for a sentence to be more meaningful.</p>    
        
        <h1 class="text-xl font-bold mb-4">•	Avoid misuse of infinitives.</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">- to + verb is the format of an infinitive,</p>  
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p>Example: to walk, to write, or to dance.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-2">Do not separate to and the verb.</p>
            <p class="text-lg text-gray-800 leading-relaxed mb-2">- Be careful of bare infinitives. Some verbs do not require to.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example:</p>
              <p class="mb-2"><span style="color: red;">Wrong</span>: Maria made him to say sorry</p>
              <p class="mb-2"><span style="color: green;">Right</span>: Maria made him say sorry.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">- Use bare infinitives after modal verbs.</p>
            <div class="bg-pink-100 p-6 rounded-lg mb-4">
              <p class="mb-2">Example:</p>
              <p class="mb-2"><span style="color: red;">Wrong</span>: You must to go now.</p>
              <p class="mb-2"><span style="color: green;">Right</span>: You must go now.</p>
            </div>

            <h1 class="text-xl font-bold mb-4">•	Avoid confusions on articles.</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">Articles identify a noun to be specific or unspecific.</p>  
            <p class="text-lg font-bold text-gray-800 leading-relaxed mb-4"><span style="color: black;">the</span></p>
              <p class="text-lg text-gray-800 leading-relaxed mb-2">- can be used with singular, plural or uncountable nouns.</p>
              <p class="text-lg text-gray-800 leading-relaxed mb-2">- refers to a more specific noun. </p>
              <div class="bg-pink-100 p-6 rounded-lg mb-4">
                <p class="mb-2">Example:</p>
                <p class="mb-2">Mary and Celine were able to attend the party of their teacher. </p>
                <p class="mb-2">(Here, it is specified that they are going to the party of their teacher) </p>
              </div>

              
              <p class="text-lg text-gray-800 leading-relaxed mb-2">- a/an is an indefinite article.</p>
                <p class="text-lg text-gray-800 leading-relaxed mb-2">- less specific.</p>
                <p class="text-lg text-gray-800 leading-relaxed mb-2">- a is used when it precedes <strong>a</strong> word that begins with a consonant letter, 
                    and <strong>an</strong>  is used when the succeeding word begins with a vowel.</p>
                <div class="bg-pink-100 p-6 rounded-lg mb-4">
                  <p class="mb-2">Example:</p>
                  <p class="mb-2">Please give me a pen; any color will do.</p>
                  <p class="mb-2">(Here, there's no specific type or brand of pen indicated.) </p>
                </div>

                <h1 class="text-xl font-bold mb-4">•	Avoid confusions between "to" and "for" as prepositions.</h1>
                <p class="text-lg text-gray-800 leading-relaxed mb-4">- The reason for to is always in verb form. </p>  
                  <div class="bg-pink-100 p-6 rounded-lg mb-4">
                    <p class="mb-2">Example:</p>
                    <p class="mb-2">She is here to communicate with you.</p>
                    <p class="mb-2">(Communicate is a verb) </p>
                  </div>
              
                  <p class="text-lg text-gray-800 leading-relaxed mb-4">- "for" is always followed by a noun.</p>
                    <div class="bg-pink-100 p-6 rounded-lg mb-4">
                      <p class="mb-2">Example:</p>
                      <p class="mb-2">Example: She is here for communication.</p>
                      <p class="mb-2">(Communication is a noun) </p>
                    </div>

                    <h1 class="text-xl font-bold mb-4">•	Avoid contractions. </h1>
                    <p class="text-lg text-gray-800 leading-relaxed mb-2">Newspaper writing is formal.</p>  
                    <div class="bg-pink-100 p-6 rounded-lg mb-4">
                      <p class="mb-2">doesn't - does not</p>
                      <p class="mb-2">don't - do not</p>
                      <p class="mb-2">should've - should have</p>
                    </div>

                    <h1 class="text-xl font-bold mb-4">•	Avoid errors in capitalization.</h1>
                    <p class="text-lg text-gray-800 leading-relaxed mb-2">The first letter of proper nouns are capitalized, 
                      while a small letter is a must with common nouns.</p>  
                   
      </div>

      <div id="Vocabulary" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">Vocabulary</h1>

        <img class="mb-2 w-auto h-auto object-center object-cover" src="assets/vocabulary1.jpeg" alt="vocabulary1">
        <img class="mb-2 w-auto h-auto object-center object-cover" src="assets/vocabulary2.jpeg" alt="vocabulary2">
        <img class="mb-2" src="assets/vocabulary3.jpeg" alt="vocabulary3">
        <img class="mb-2" src="assets/vocabulary4.jpeg" alt="vocabulary4">
        <img class="mb-2" src="assets/vocabulary5.jpeg" alt="vocabulary5">
      
      </div>

      



  
      <!-- Quiz Section -->
      <div  id="Test Yourself">
        <h1 class="text-3xl font-bold mb-4">Test Yourself</h1> 
        <a [routerLink]="['/lessons', lessonId, 'quiz']" class="text-lg text-gray-800 leading-relaxed text-justify">Take the Quiz</a>
      </div>
      <!--<div  id="Quiz">
            <h1 class="text-3xl font-bold mb-4">Lesson Quiz</h1> 
            <p class="text-lg text-gray-800 leading-relaxed text-justify">Take a quiz. placeholder for quiz link</p>
      </div>-->
    <app-scroll-to-top></app-scroll-to-top>
  </div>

  
  
  