
<div class="container mx-auto">
    <div class="my-8">
      <div id="Topic W">
      <!-- Video Section -->
      <!--<div id="Topic 9" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">Lesson Video</h1>
        <div class="w-96 h-60 aspect-w-1 aspect-h-1">
          <iframe src="https://www.youtube.com/embed/J1Ip2sC_lss" frameborder="0" allowfullscreen class="w-full h-full"></iframe>
        </div>-->
      </div>
  
      <!-- Text Lesson Section -->
      <div id="GRAMMAR IN JOURNALISTIC WRITING" class="mb-8">
        <h1 class="text-3xl font-bold mb-4">GRAMMAR IN JOURNALISTIC WRITING</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          Grammar is a very important element of writing. Having a good grammar enables a writer to convey his/her message clearly and effectively. Good grammar is significant in writing a--- because it helps a writer to communicate professionally, as well as it adds authority to one&#39;s work.
        </p>
      </div>

      <!-- Text Lesson Section -->
      <div id="WHAT ARE THE DIFFERENT RULES OF GRAMMAR IN NEWS WRITING?" class="mb-8">
        <h1 class="text-2xl font-bold mb-4">WHAT ARE THE DIFFERENT RULES OF GRAMMAR IN NEWS WRITING?</h1>
      
      </div>

      <!-- Text Lesson Section -->
      <div id="•	Be mindful of tenses to use" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Be mindful of tenses to use</h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-8">
          A news article is composed of events that already happened or occurred, so the use of past tense is a must. However, this tense must be avoided when writing the headline of a news. 
        </p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p class="text-lg text-gray-800 leading-relaxed mb-4">Example:</p>
              <p class="text-lg text-gray-800 leading-relaxed mb-4"> 
                Ms. Alice Guo, the mayor of Bamban, was invited in a senate hearing.
              </p>
              <p class="text-lg text-gray-800 leading-relaxed mb-4">Example in Headline: </p>
              <p class="text-lg text-gray-800 leading-relaxed mb-4">Alice Guo present at senate hearing</p>
            </div>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present tense (verb + es/s) – currently happening</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: She <span style="font-weight: bold; color: black;">walks</span> down the alley everyday.</p>
              <p>Toni <span style="font-weight: bold; color: black;">goes</span> to sleep every morning because her job is in night shift.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past tense (ed/d) – occurred in the past</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example: Kath <span style="font-weight: bold; color: black;">visited</span> Singapore last month.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Tense (will+base verb or am/ is/ are going to + base verb) – Will happen in the future </p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: I <span style="font-weight: bold; color: black;">will</span> bring foods tomorrow. </p>
              <p>We <span style="font-weight: bold; color: black;">are going to</span> Disneyland next week.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present Perfect (has/have + past participle) already happened with no specified time</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example:  I <span style="font-weight: bold; color: black;">have</span> written a poem before.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past Perfect (had + past participle) a past action before another past action. </p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example: I <u>passed</u> the semester because I <span style="font-weight: bold; color: black;">had submitted</span> all of my requirements.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Perfect (am/ is/ are + to have + past participle) or (will have + past participle)</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: I <span style="font-weight: bold; color: black;">am going to have finished</span> my report before the next meeting.</p>
              <p>She <span style="font-weight: bold; color: black;">will have written</span> the script before the taping starts.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present Progressive (am/ is/ are + present participle) happening and continuing</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example: Ms. Karen Davila <span style="font-weight: bold; color: black;">is throwing</span> questions to Mayor Alice Guo.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past Progressive (was/ were + present participle) happening but did not continue</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example: She <span style="font-weight: bold; color: black;">was watching</span> a Korean series when her mom ringed her phone. </p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Progressive (is/ are/ am + going to be +present participle) or (will be + present participle) will happen in a certain time</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: She <span style="font-weight: bold; color: black;">will be taking</span> a medical course in college.</p>
             <p>She <span style="font-weight: bold; color: black;">is going to be teaching</span> in UP starting on Monday.</p>  
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Present Perfect Progressive (has/ have/ +been + present participle) happened in the past and is continuing</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p class="mb-2">Example: She <span style="font-weight: bold; color: black;">has been playing</span> piano since she was a child.</p>
              <p><span style="color: red;">NOTE</span>: Have is used for first person (I), second person (You) and third person plural pronouns (We, They). Has is used for third person singular pronouns (he, she, it)</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Past Perfect Progressive (had + been + present participle) an action started in the past and continued until another event in the past</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example: She <span style="font-weight: bold; color: black;">had been complaining</span> her headache for days until last week</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Future Perfect Progressive (is/ are/ am + going to have been + present participle) or (will have been + present participle)</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example: He <span style="font-weight: bold; color: black;">will have been</span> making lots of money by the time his business becomes successful.</p>
            </div>
      </div>

      <div id="•	Use of nouns. " class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Use of nouns. </h1>
        <p class="text-lg text-gray-800 leading-relaxed mb-4">A noun is defined as a name of place, things, person or idea. 
          This noun should begin with a small letter except when used as a first word in a sentence. </p>
        
        <p class="text-lg text-gray-800 leading-relaxed mb-4">There are many types of nouns: </p>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Common noun – is a type of noun that refers to a general object or idea</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: animal, doctor, author, country, politician</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Proper noun – refers to a specific person, place or things. This noun should start with capital letter.</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: Chihuahua, Dr. Vicky Belo, Coleen Hoover, Philippines, Sen. Risa Hontiveros</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Concrete nouns – are nouns that physically exists and can interact with the senses. </p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: philosophers, stage, doorknob</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Abstract nouns – are the ideas, thoughts, or concepts that cannot interact with the senses. </p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: love, passion, joy, happiness</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Collective Nouns – are nouns that refer to a group or collective of animals, people or things. This type of noun should not be capitalized.</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples:</p>
              <ul class="mb-2">
                <li>faculty – group of individual teachers</li>
                <li>bouquet – group of flowers with decorative wrapping</li>
                <li>team –  group of players</li>
                <li>family – group of one or more parents and their children</li>
                <li>crowd – a large number of people gathered together</li>
              </ul>
            </div>
            <div>
              <p class="mb-2">Remember that collective nouns take singular verb when the action is done together 
                and it take plural verb when the individuals composing the group or collective are emphasized. 
              </p>
              <div class="bg-pink-100 p-6 rounded-lg">
                <p class="mb-2">Example of Collective noun with singular verb: </p>
                <p>The <i>faculty</i> is preparing for the upcoming foundation day. </p>

                <p class="mb-2">Example of collective noun with plural verb: </p>
                <p>The <span style="font-weight: bold; color: black;">faculty</span> are in disagreement of shirt color they will wear for the upcoming foundation day. 
                  (Each member or individual in the faculty disagrees with one another.)</p>                
              </div>
              
            </div>
      </div>

      <div id="•	Singularity and Plurality" class="mb-8">
        <h1 class="text-xl font-bold mb-4">•	Singularity and Plurality</h1>
            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	A singular noun takes a singular verb. </p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example:  <u>Ms. Lea Santos</u> was a speaker of the leadership seminar on May 4-5, 2024.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Nouns connected by and often take plural verb.</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Example: <u>Karen and April</u> were declared as dean’s listers. </p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Nouns referring to the same subject takes singular verb.</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p class="mb-2">Example: The artist and entrepreneur is known for his humility and good leadership.</p>
              <p><span style="color: red;">Note</span>: Alfred is an artist and entrepreneur.</p>
            </div>

            <p class="text-lg text-gray-800 leading-relaxed mb-4">•	Do not just add –s or –es to a noun. Some nouns have the same plural forms.</p>
            <div class="bg-pink-100 p-6 rounded-lg">
              <p>Examples: crossroads/crossroads, aircraft/aircraft</p>
            </div>
      </div>

  
      <!-- Quiz Section -->
      <div  id="Quiz">
        <h1 class="text-3xl font-bold mb-4">Lesson Quiz</h1> 
        <p class="text-lg text-gray-800 leading-relaxed text-justify">Take a quiz. placeholder for quiz link</p>
      </div>
      <!--<div  id="Quiz">
            <h1 class="text-3xl font-bold mb-4">Lesson Quiz</h1> 
            <p class="text-lg text-gray-800 leading-relaxed text-justify">Take a quiz. placeholder for quiz link</p>
      </div>-->
    <app-scroll-to-top></app-scroll-to-top>
  </div>

  
  
  