

<section class="text-gray-600 body-font block md:hidden">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
   
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">GrafoSofos</h1>
      <p class="mb-8 leading-relaxed">​GrafoSofos is a combination of two Greek words. “Grafo” means “Write” and “Sofos” means “Wise”. 
        This website is an innovative online platform designed to provide budding journalists and writers with extensive materials 
        and interactive lessons on campus journalism. It provides a multifaceted learning experience by combining text and short quizzes, 
        enabling users with the necessary skills and knowledge to flourish in journalistic​ writing within the context of campus reporting.</p>
        
        <!-- Fully Customized Horizontal Rule -->
  <hr class="border-t-4 border-gray-500 w-1/2 mx-auto my-4 shadow-lg rounded-full">

    </div>
  </div>
</section>

<div class="min-h-screen bg-cover bg-center bg-fixed md:bg-cover md:bg-top lg:bg-cover lg:bg-center hidden sm:block " style="background-image: url('/assets/homepage.jpg'); background-position: center 50px; height: 100vh;" >
  <div class="min-h-screen flex items-center justify-center">
    <div class="h-full w-full flex items-center justify-center">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">GrafoSofos</h1>
        <p class="mb-8 leading-relaxed text-white">​GrafoSofos is a combination of two Greek words. “Grafo” means “Write” and “Sofos” means “Wise”. 
          This website is an innovative online platform designed to provide budding journalists and writers with extensive materials 
          and interactive lessons on campus journalism. It provides a multifaceted learning experience by combining text and short quizzes, 
          enabling users with the necessary skills and knowledge to flourish in journalistic​ writing within the context of campus reporting.</p>
        
      </div>
    </div>
  </div>
 
  <!-- Add more sections as needed -->
</div>

<!-- Video Preview Section -->
<div class="flex justify-center py-12">
  <!-- Video Preview Thumbnail -->
  <div class="relative w-full max-w-lg cursor-pointer" (click)="showVideoModal = true">
    <video class="w-full rounded-lg shadow-lg" muted autoplay loop>
      <source src="assets/TUTORIAL.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    
    <!-- Play Button Overlay Icon -->
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="bg-black bg-opacity-50 rounded-full p-4">
        <svg class="w-12 h-12 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-5.197 2.857A1 1 0 018 13.112V8.888a1 1 0 011.555-.832l5.197 2.857a1 1 0 010 1.744z" />
        </svg>
      </div>
    </div>
  </div>
</div>

<!-- Conditionally Render Video Modal -->
<app-video-modal *ngIf="showVideoModal" (close)="showVideoModal = false"></app-video-modal>



  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed text-lg">A Professional Writer Is An Amateur Who Didn't Quit.</p>
        <span class="inline-block h-1 w-10 rounded bg-gray-500 mt-8 mb-6"></span>
        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Richard bach</h2>
      </div>
    </div>
  </section>

  
