<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Campus Journalism </h1>
          <div class="h-1 w-20 bg-pink-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolore quidem quaerat ad aliquam cupiditate suscipit ab corrupti, explicabo quasi mollitia reprehenderit doloremque rerum accusamus vero atque? Voluptates, aut deserunt?</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            
            <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              <a routerLink="lesson-1" (click)="selectContent('lesson 1')">Lesson 1: What is Campus Journalism</a>
            </h2>
            <p class="leading-relaxed text-base">Oh, hello there, misteryoso. 'Di pa rin mabasa ang 'yong tunay na motibo, oh</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            
            <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              <a routerLink="lesson-2" (click)="selectContent('lesson 2')">Karera</a>
            </h2>
            <p class="leading-relaxed text-base">Minsan ay nahuhuli ang sarili na nag-aalala, ah. Mga bagay na 'di kontrolado, pinoproblema, pero teka lang</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            
            <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              <a routerLink="lesson-3" (click)="selectContent('lesson 3')">Pantropiko</a>
            </h2>
            <p class="leading-relaxed text-base">Ikaw ay nasilayan sa 'di inakalang panahon. Lumapit nang biglaan, para bang 'di nagkataon</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4 w-full">
          <div class="bg-gray-100 p-6 rounded-lg">
            
            <h3 class="tracking-widest text-pink-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              <a routerLink="lesson-4" (click)="selectContent('lesson 4')">Lesson 4: Rules in Writing (Part 1)</a>
            </h2>
            <p class="leading-relaxed text-base">Nahuhulog ang loob sa 'yo x4</p>
          </div>
        </div>
      </div>
    </div>
  </section>

