<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <!--<div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Campus Journalism </h1>
          <div class="h-1 w-20 bg-pink-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolore quidem quaerat ad aliquam cupiditate suscipit ab corrupti, explicabo quasi mollitia reprehenderit doloremque rerum accusamus vero atque? Voluptates, aut deserunt?</p>
      </div>-->
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          
          <div class="bg-gray-100 p-6 rounded-lg card-color">
            
            <h3 class="tracking-widest subtitle-color text-xs font-medium title-font">Lesson 1:</h3>
            <h2 class="text-xl text-white font-medium title-font mb-4">
              <a class="cursor-pointer hover:text-yellow-100" (click)="selectContent('lesson 1')">What is Campus Journalism</a>
            </h2>
            <a (click)="selectContent('lesson 1')" class="block cursor-pointer">
            <p class="leading-relaxed text-base text-white italic hover:text-yellow-100">Campus Journalism is an activity of collecting, writing and editing stories inside a school or campus. 
              It enables student journalists to be a voice of the student body. 
              In this lesson, students will gain knowledge on the concept of campus journalism as well as its importance. </p></a>
            <a (click)="goToQuiz1()">go to quiz</a>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a (click)="selectContent('lesson 2')" class="block cursor-pointer">
          <div class="bg-gray-100 p-6 rounded-lg card-color">
            
            <h3 class="tracking-widest subtitle-color text-xs font-medium title-font">Lesson 2:</h3>
            <h2 class="text-xl text-white font-medium title-font mb-4">
              <a class="cursor-pointer hover:text-yellow-100" (click)="selectContent('lesson 2')">Types of Campus Journalism (Part 1)</a>
            </h2>
            <p class="leading-relaxed text-base text-white italic hover:text-yellow-100">This lesson will discuss the different types of journalism such as news writing, feature writing, 
              sports writing, and sci-tech writing. 
              It is important for student journalists to be aware of these so that they will be knowledgeable on how should they deliver a story.</p>
          </div></a>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a (click)="selectContent('lesson 3')" class="block cursor-pointer">
          <div class="bg-gray-100 p-6 rounded-lg card-color">
            
            <h3 class="tracking-widest subtitle-color text-xs font-medium title-font">Lesson 3:</h3>
            <h2 class="text-xl text-white font-medium title-font mb-4">
              <a class="cursor-pointer hover:text-yellow-100" (click)="selectContent('lesson 3')">Types of Campus Journalism (Part 2)</a>
            </h2>
            <p class="leading-relaxed text-base text-white italic hover:text-yellow-100">Following the previous lesson, more types of journalism including the editorial writing, 
              editorial cartooning, radio broadcasting, and photojournalism will be discussed in this module. </p>
          </div></a>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4 w-full">
          <a (click)="selectContent('lesson 4')" class="block cursor-pointer">
          <div class="bg-gray-100 p-6 rounded-lg card-color">
            
            <h3 class="tracking-widest subtitle-color text-xs font-medium title-font">Lesson 4:</h3>
            <h2 class="text-xl text-white font-medium title-font mb-4">
              <a class="cursor-pointer hover:text-yellow-100" (click)="selectContent('lesson 4')">Rules in Writing (Part 1)</a>
            </h2>
            <p class="leading-relaxed text-base text-white italic hover:text-yellow-100">This lesson aims to improve the grammar and vocabulary skills of students. Grammar and vocabulary are both significant in writing. 
              Having a mastery of these can help students, particularly student writers and journalists, to craft meaningful content.</p>
          </div></a>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4 w-full">
          <a (click)="selectContent('lesson 5')" class="block cursor-pointer">
          <div class="bg-gray-100 p-6 rounded-lg card-color">
            
            <h3 class="tracking-widest subtitle-color text-xs font-medium title-font">Lesson 5:</h3>
            <h2 class="text-xl text-white font-medium title-font mb-4">
              <a class="cursor-pointer hover:text-yellow-100" (click)="selectContent('lesson 5')">Rules in Writing (Part 2)</a>
            </h2>
            <p class="leading-relaxed text-base text-white italic hover:text-yellow-100">The goal of this lesson is to enlighten students on the proper use of punctuation marks.
               Punctuation is necessary in writing because it guides the readers to understand the message of written content.</p>
          </div></a>
        </div>
      </div>
    </div>
  </section>

