
<div class="sidebar rounded-lg bg-pink-300 w-64 fixed sm:relative" [class.open]="isSidebarOpen">
  <!-- Logo and Header -->
  <div class="flex items-center justify-center h-20 border-b border-gray-700">
    <span class="text-white text-xl font-semibold">{{ lessonTitle }}</span>
  </div>
  
    <!-- Navigation Links -->
    <nav class="mt-6">
      <ul>
        <!--<li>
            <span (click)="selectSection('video')" class="flex items-center py-2 px-4 text-gray-900 hover:bg-pink-700 hover:text-white cursor-pointer text-blue-500 hover:underline">Topic 1</span>
            


        </li>
        <li>
       
            <span (click)="selectSection('text')" class="flex items-center py-2 px-4 text-gray-900 hover:bg-pink-700 hover:text-white cursor-pointer text-blue-500 hover:underline">Topic 2</span>
          
        </li>
        <li>
            <span (click)="selectSection('quiz')" class="flex items-center py-2 px-4 text-gray-900 hover:bg-pink-700 hover:text-white cursor-pointer text-blue-500 hover:underline">Topic 3</span>
          
            
          </li>-->
        <!-- Add more navigation links as needed -->
        <li *ngFor="let topic of topicNames">
          <span (click)="selectTopic(topic)" class="flex items-center py-2 px-4 text-gray-900 hover:bg-pink-700 hover:text-white cursor-pointer text-blue-500 hover:underline">{{ topic }}</span>
        </li>
      </ul>
    </nav>
  </div>

