/* Inside your sidebar component CSS */
/*
.sidebar {
    display: none;
  }
  .sidebar.open {
    display: block;
  }
  @media (min-width: 640px) {
    .sidebar {
      display: block;
    }
  }
*/
  /* CSS for scrollable navigation bar */
/*
:host {
  display: block;
  max-height: 100vh; /* Full viewport height */
  /*overflow-y: auto; /* Enable vertical scrolling */
/*}*/

  